*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
body{
    background-color: hsl(235, 18%, 26%);
    font-family: "roboto";
}
main{
    display: flex;
    justify-content: center;
    padding: 2rem;
}
.card{
    background:  hsl(0, 0%, 100%)  ;
    padding: 2rem 1.2rem;
    margin: 1rem;
    border-radius: 8px;
}
.main-img{
    width: 100%;
    height: auto;
    border-radius: 8px;
}
.card-content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 1rem;
}
.icon{
    width: 22px;
}
.features{
    list-style-type: none;
}
.features li{
    margin: 0.5rem;
}
form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem; 
}
label {
  display: block;
  margin-bottom: 0.5rem;
}
.form input,
.form button {
  width: 100%;
  align-self: flex-start;
}

#email{

  border: 1px solid hsl(0, 0%,58%);
  border-radius: 8px;
  padding: 0.9rem 1rem;
  
}
button{
    padding: 1rem;
    background-color: hsl(234, 29%, 20%);
    color: white;
    font-weight: 800;
    border: none;
    cursor: pointer;
    border-radius: 8px;
     
}
@media(min-width: 768px){
    .card{
        display: flex;
        flex-direction: row-reverse;
        gap: 2rem;
        border-radius: 35px;
    }
    .card-content{
        justify-content: center;
        margin: 0.2rem 2rem;
    }
    h1{
        font-size: 50px;
        color: hsl(234, 29%, 20%);
    }
}